---
layout: default
scripts:
 - /assets/js/github.js
---

{% for script in page.scripts %}
<script type="text/javascript" src="{{ script }}"></script>
{% endfor %}


<div>
<p>I am currently an undergraduate studying computer science and applied mathematics at the National University of Singapore (NUS).  This is a double degree programme, which will allow me to graduate with a Bachelor of Computing (BComp) in Computer Science, as well as a Bachelor of Science (BSc) in Applied Mathematics.  I am a recipient of the NUS Merit Scholarship.  I should graduate in November 2021.</p>
<p>I have participated in many algorithmic programming competitions, such as the ACM-ICPC World Finals, the International Olympiad in Informatics (IOI), and the Google Code Jam.  When opportunities arise, I continue to participate in such competitions.</p>
<p>I also tinker with technologies and write some code during my free time.  See below for some of my personal projects.</p>
</div>
<hr/>

<div>
<p><span class="keyname">Interests:</span></p>
<ul>
<li>Algorithmic problem solving</li>
<li>High-performance software development</li>
<li>Lock-free and wait-free parallel programming</li>
<li>C++ programming language</li>
<li>Rust programming language</li>
<li><span class="more">(and there might be more &hellip;)</span></li>
</ul>
</div>
<hr/>

<div>
<p><span class="keyname">Blog Posts:</span></p>
<ul>
{% for post in site.posts %}
<li><a href="{{ post.url }}">{{ post.title }}</a> <span class="blog-pre">&mdash; {{ post.date | date: "%-d %B %Y" }}</span></li>
{% endfor %}
</ul>
</div>
<hr/>

<div>
<p><span class="keyname">Work Experience:</span></p>
<ul class="detailedlist">

<li>
<div class="header">Software Engineer Intern (Core Development) at Jump Trading</div>
<div class="date">May &ndash; July 2020</div>
<div class="content">This was a ten-week internship at the Singapore office.  I built a low-latency order gateway to enable Jump to trade on a new exchange.  I also worked on improving various tools for testing and analysing past data, including using C++20 coroutines to bring usability improvements to some of these tools.  The internship culminated with a presentation on C++20 coroutines to the core development team in Jump's Asian offices.</div>
<div class="content"><span class="semibold">Technologies:</span> C++14/17/20</div>
</li>

<li>
<div class="header">Software Engineer Intern (Core Development) at Jump Trading</div>
<div class="date">June &ndash; August 2019</div>
<div class="content">This internship comprised a four-week training programme at the Chicago headquarters, and then six weeks of work at the Singapore office.  I worked on the portion of the trading platform that receives market data, which is used by trading teams to efficiently receive and parse data from exchanges.  My work improved the compilation time and execution performance of the trading platform.</div>
<div class="content"><span class="semibold">Technologies:</span> C++14/17</div>
</li>

</ul>
</div>
<hr/>

<div>
<p><span class="keyname">Personal Software Projects:</span></p>
<ul class="detailedlist">

<li>
<div class="header">Sourceror</div>
<div class="date">January 2020 &ndash; Present</div>
<div class="link"><a href="https://source-academy.github.io/playground">Try it here!</a> (select Source &sect;1 WebAssembly from the drop-down menu) | <a href="https://github.com/source-academy/sourceror">GitHub repository</a> | <img class="typeicon" src="font-awesome/web.svg" /> <img class="typeicon" src="font-awesome/node-js.svg" /> | <span class="github-stars" data-repo="source-academy/sourceror"></span> <img class="typeicon" src="font-awesome/star-small.svg" /></div>
<div class="content">Sourceror is an optimising compiler from Source to WebAssembly.  Source is a simplified variant of JavaScript designed for the introductory programming module at NUS.  Sourceror implements many features expected of a fully-featured compiler, including modules (multi-file compilation with import/export), a foreign function interface with JavaScript, a garbage collector, and optimisations for variable capture, type propagation, and function call devirtualisation.  The compiler itself is compiled to WebAssembly so that Source programs can be compiled and run from within the browser.  Sourceror was my project for the CS4215 module at NUS.  Sourceror is now maintained by the Source Academy team at NUS which I am part of, and I continue to review code that goes into the project.</div>
<div class="content"><span class="semibold">Technologies:</span> Rust, WebAssembly, TypeScript</div>
</li>

<li>
<div class="header">Native File Dialog Extended</div>
<div class="date">August 2018 &ndash; Present</div>
<div class="link"><a href="https://github.com/btzy/nativefiledialog-extended">GitHub repository</a> | <img class="typeicon" src="font-awesome/windows.svg" /> <img class="typeicon" src="font-awesome/apple.svg" /> <img class="typeicon" src="font-awesome/linux.svg" /> | <span class="github-stars" data-repo="btzy/nativefiledialog-extended"></span> <img class="typeicon" src="font-awesome/star-small.svg" /></div>
<div class="content">Native File Dialog Extended (NFDe) is an abstraction over the platform-specific file and directory pickers on Windows, Mac, and Linux.  It is based on <a href="https://github.com/mlabbe/nativefiledialog">Native File Dialog</a>, and adds additional features such as friendly filter names and a C++ wrapper.  NFDe was originally designed for use with Circuit Sandbox, but I still maintain it and it is now depended on by other third-party projects.</div>
<div class="content"><span class="semibold">Technologies:</span> C, C++, Objective-C</div>
</li>

<li>
<div class="header">Fluminurs</div>
<div class="date">August 2019 &ndash; Present</div>
<div class="link"><a href="https://github.com/fluminurs/fluminurs">GitHub repository</a> | <img class="typeicon" src="font-awesome/windows.svg" /> <img class="typeicon" src="font-awesome/apple.svg" /> <img class="typeicon" src="font-awesome/linux.svg" /> | <span class="github-stars" data-repo="fluminurs/fluminurs"></span> <img class="typeicon" src="font-awesome/star-small.svg" /></div>
<div class="content">Fluminurs is a CLI tool and library to download files, announcements, videos, and other resources from LumiNUS, NUS's online learning management system, using a reverse-engineered API.  I was a casual contributor in 2019 and 2020, but joined the development team in 2021 and took a more active role in developing new features.</div>
<div class="content"><span class="semibold">Technologies:</span> Rust</div>
</li>

<li>
<div class="header">Circuit Sandbox</div>
<div class="date">May &ndash; August 2018</div>
<div class="link"><a href="https://github.com/btzy/circuit-sandbox">GitHub repository</a> | <a href="https://btzy.github.io/circuit-sandbox-poster.pdf">Poster</a> | <img class="typeicon" src="font-awesome/windows.svg" /> <img class="typeicon" src="font-awesome/apple.svg" /> <img class="typeicon" src="font-awesome/linux.svg" /> | <span class="github-stars" data-repo="btzy/circuit-sandbox"></span> <img class="typeicon" src="font-awesome/star-small.svg" /></div>
<div class="content">Circuit Sandbox is a digital sandbox game where users can create arbitrarily complex circuits out of simple components.  To support large and complex simulations efficiently, Circuit Sandbox uses many careful optimisation techniques, such as lock-free multi-threading and C++ template metaprogramming.  Circuit Sandbox is a collaboration with <a href="http://kuanwh.com/">Kuan Wei Heng</a>, for our <span class="italicname">Independent Software Development Project (Orbital)</span> module at NUS.</div>
<div class="content"><span class="semibold">Technologies:</span> C++17, Boost, SDL2</div>
</li>

<li>
<div class="header">Jelly Compiler for Brainfuck / wasm-codegen</div>
<div class="date">March 2017</div>
<div class="link"><a href="https://btzy.github.io/jelly">Try it here!</a> | <a href="https://github.com/btzy/jelly">GitHub repository</a> | <img class="typeicon" src="font-awesome/web.svg" /> | <span class="github-stars" data-repo="btzy/jelly"></span> <img class="typeicon" src="font-awesome/star-small.svg" /></div>
<div class="content">Jelly is a browser-based compiler for <a href="https://en.wikipedia.org/wiki/Brainfuck">Brainfuck</a>, one of the most well-known esoteric programming languages.  Jelly features an optimising compiler (written in JavaScript) that compiles Brainfuck to WebAssembly, which can then be compiled to native code and executed in the browser.  This allows much faster execution as compared to other browser-based compilers.</div>
<div class="content"><span class="semibold">Technologies:</span> JavaScript, WebAssembly</div>
</li>

</ul>

<p>Check out my <a href="https://github.com/btzy">GitHub account</a> for my other software projects.</p>

</div>
<hr/>

<div>
<p><span class="keyname">Other Experience:</span></p>
<ul class="detailedlist">
<li>
<div class="header">National Olympiad in Informatics (NOI) Scientific Committee</div>
<div class="date">January &ndash; March 2017</div>
<div class="date">January &ndash; March 2018</div>
<div class="date">January &ndash; July 2020</div>
<div class="date">January &ndash; March 2021</div>
<div class="content">The <a href="https://noisg.comp.nus.edu.sg/noi/">National Olympiad in Informatics</a> is the main algorithmic problem solving competition for secondary school and junior college students in Singapore, modelled after the International Olympiad in Informatics.  Each year, around 200 students take part in the contest.  The scientific committee prepares and ensures quality control the tasks in the competition.  In 2017, I reviewed and tested the competition tasks.  In 2018, I designed and prepared some tasks which were eventually used in the competition.  In 2020 and 2021, I was in charge of the scientific committee, and led the team in task selection and preparation, to ensure the quality and fairness of the competition tasks.</div>
</li>
</ul>
</div>
<hr/>

<div>
<p><span class="keyname">Competitive Programming:</span></p>
<ul class="detailedlist">

<li>
<div class="header">International Collegiate Programming Contest (ICPC)</div>
<ul>
<li>22<sup>nd</sup> at ACM-ICPC World Finals Invitational 2020</li>
<li>1<sup>st</sup> at ACM-ICPC Asia Kuala Lumpur On-Site Regional Contest 2019</li>
<li>4<sup>th</sup> at ACM-ICPC Asia Bangkok On-Site Regional Contest 2019</li>
<li>62<sup>nd</sup> at ACM-ICPC World Finals 2019</li>
<li>7<sup>th</sup> at ACM-ICPC Asia Singapore On-Site Regional Contest 2018</li>
<li>1<sup>st</sup> at ACM-ICPC Asia Yangon On-Site Regional Contest 2018</li>
<li>5<sup>th</sup> at ACM-ICPC Asia Jakarta On-Site Regional Contest 2017</li>
</ul>
</li>

<li>
<div class="header">Code Jam (Handle: btzy)</div>
<ul>
<li>338<sup>th</sup> (round 3) in 2021</li>
<li>163<sup>th</sup> (round 3) in 2020</li>
<li>51<sup>st</sup> (round 3) in 2019</li>
<li>295<sup>th</sup> (round 3) in 2018</li>
<li>834<sup>th</sup> (round 2) in 2017</li>
<li>166<sup>th</sup> (round 3) in 2016</li>
<li>952<sup>nd</sup> (round 2) in 2015</li>
</ul>
</li>

<li>
<div class="header">Distributed Code Jam (Handle: btzy)</div>
<ul>
<li>155<sup>th</sup> in 2017</li>
<li>79<sup>th</sup> in 2016</li>
</ul>
</li>

<li>
<div class="header">International Olympiad in Informatics (IOI)</div>
<ul>
<li>Bronze Medal in 2013</li>
<li>Participation in 2012 :(</li>
</ul>
</li>

<li>
<div class="header">Codeforces (Handle: <a href="https://codeforces.com/profile/btzy">btzy</a>)</div>
<ul>
<li>Various random contests</li>
</ul>
</li>

<li>
<div class="header">Kattis (Handle: <a href="https://open.kattis.com/users/btzy">btzy</a>)</div>
<ul>
<li>Doing some problems, with the aim of creating the fastest solution for each problem I solve</li>
</ul>
</li>
</ul>
</div>
<hr/>

<div>
<p><span class="keyname">Olympiad Mathematics:</span></p>
<ul class="detailedlist">

<li>
<div class="header">Simon Marais Mathematics Competition (SMMC)</div>
<ul>
<li><a href="http://www.simonmarais.org/east-division.html">Top Quartile in 2021</a> (East Division, scored 28 out of 61 points)</li>
<li><a href="https://www.simonmarais.org/2020.html">Top Decile in 2020</a> (scored 32 out of 56 points)</li>
<li><a href="https://www.simonmarais.org/2019.html">Top Quartile in 2019</a> (scored 34 out of 56 points)</li>
<li><a href="https://www.simonmarais.org/20183.html">Top Quartile in 2018</a> (scored 31 out of 56 points)</li>
</ul>
</li>

<li>
<div class="header">Singapore Mathematical Olympiad (SMO)</div>
<ul>
<li>Silver Award (Open Category) in 2014</li>
<li>Silver Award (Open Category) in 2013</li>
</ul>
</li>

</ul>
</div>
<hr/>

<div>
<p><span class="keyname">NUS Teaching Awards:</span></p>

<p>The Honor List of Student Tutors is awarded by NUS School of Computing each academic year to recognise excellence in teaching among its student tutors.  The exact criteria for this award is not known, but it is believed to be derived from the student feedback collected at the end of each semester.</p>

<ul>
<li>AY 19/20 Honor List of Student Tutors</li>
<li>AY 18/19 Honor List of Student Tutors</li>
</ul>
</div>
<hr/>

<div>
<p><span class="keyname">NUS Modules Taught:</span></p>
<p>NUS School of Computing provides opportunities for undergraduate students to be teaching assistants, usually by conducting tutorial and lab classes.  Undergraduate teaching assistants are chosen by the module coordinator, and usually have done well when they took the module as students.</p>

<ul class="detailedlist">

<li>
<div class="header">CS2106 Introduction to Operating Systems</div>
<div class="date">AY 21/22 Sem 1 (August &ndash; November 2021)</div>
<div class="content">This is the current semester.</div>
</li>

<li>
<div class="header">CS3230 Design and Analysis of Algorithms</div>
<div class="date">AY 20/21 Sem 2 (January &ndash; April 2021)</div>
<div class="link"><a href="teaching/teacher_report_2021_sem2_CS3230_tutorial.pdf">Teacher Report</a> (overall score: 3.9/5)</div>
<div class="content">Conducted tutorial sessions for 2 classes (34 students in total); graded one written assignment.</div>
</li>

<li>
<div class="header">CS2106 Introduction to Operating Systems</div>
<div class="date">AY 20/21 Sem 1 (August &ndash; November 2020)</div>
<div class="link"><a href="teaching/teacher_report_2021_sem1_CS2106_lab.pdf">Teacher Report</a> (overall score: 4.3/5)</div>
<div class="content">Conducted lab sessions for 3 classes (51 students in total); designed, implemented, and graded one of the assignments.  Sessions were conducted online due to the pandemic.</div>
</li>

<li>
<div class="header">CS2106 Introduction to Operating Systems</div>
<div class="date">AY 19/20 Sem 1 (August &ndash; November 2019)</div>
<div class="link"><a href="teaching/teacher_report_1920_sem1_CS2106_lab.pdf">Teacher Report</a> (overall score: 4.6/5)</div>
<div class="content">Conducted lab sessions for 3 classes (61 students in total); designed, implemented, and graded one of the assignments.</div>
</li>

<li>
<div class="header">CS2030 Programming Methodology II</div>
<div class="date">AY 18/19 Sem 1 (August &ndash; November 2018)</div>
<div class="link"><a href="teaching/teacher_report_1819_sem1_CS2030_lab.pdf">Teacher Report (lab)</a> (overall score: 4.8/5)</div>
<div class="link"><a href="teaching/teacher_report_1819_sem1_CS2030_tutorial.pdf">Teacher Report (tutorial)</a> (overall score: 4.6/5)</div>
<div class="link"><a href="teaching/text_analytics_report_1819_sem1.pdf">Aggregated Text Analytics Report</a></div>
<div class="content">Conducted lab sessions for 1 class (14 students) and tutorial sessions for 1 class (19 students); designed and implemented one of the assignments.</div>
</li>

<li>
<div class="header">CS2030 Programming Methodology II</div>
<div class="date">AY 17/18 Sem 2 (January &ndash; April 2018)</div>
<div class="link"><a href="teaching/teacher_report_1718_sem2_CS2030_lab.pdf">Teacher Report</a> (overall score: 4.7/5)</div>
<div class="link"><a href="teaching/text_analytics_report_1718_sem2.pdf">Aggregated Text Analytics Report</a></div>
<div class="content">Conducted lab sessions for 1 class (36 students).  Although a lab class in name, this was more like a tutorial class with weekly presentations and discussions that reinforced the content covered in the lectures.  I worked with <a href="https://sijie123.com/">Lin Si Jie</a> and Lim Heng Guang to teach this class.</div>
</li>

</ul>

<p><span class="more">Note:  NUS introduced a new module balloting system in AY 19/20 Sem 1, which significantly reduced students' incentive for providing feedback.</span></p>

</div>
<hr/>

<div>
<p><span class="keyname">NUS Academic Awards:</span></p>

<p>The Dean's List is awarded to students in the top 5% of their cohort each semester.  Students are only eligible for the Dean's List after their freshmen year, and they must take at least two modules from their host faculty in that semester.  As a student enrolled in a double degree programme, I am eligible for either faculty's Dean's List only when I take at least two modules offered by that faculty in the same semester.</p>

<p>Module coordinators may occasionally award recommendation letters to students for outstanding performance in their modules.</p>

<p><a href="https://www.comp.nus.edu.sg/programmes/ug/honour/merit/">BComp (CS) Focus Area Certificates</a> are awarded to students with outstanding performance in the modules satisfying that focus area.</p>

<ul>
<li>AY 21/22 Sem 1 Dean's List for NUS Faculty of Science | <a href="https://credentials.nus.edu.sg/d5319e11-8040-4893-bd63-29b82428c2fa">Digital certificate</a></li>
<li>AY 20/21 Sem 2 Dean's List for NUS School of Computing | <a href="https://credentials.nus.edu.sg/8cc4344a-3a95-4ccb-a24f-904986f62486">Digital certificate</a></li>
<li>AY 20/21 Sem 2 Dean's List for NUS Faculty of Science | <a href="https://credentials.nus.edu.sg/489e9f20-223f-40e9-a850-bf156ffb4270">Digital certificate</a></li>
<li>Certificate of Distinction in the Programming Languages Focus Area of the Bachelor of Computing in Computer Science | <a href="https://credentials.nus.edu.sg/106ae5cf-653b-4a66-abc3-58eab4f406d5">Digital certificate</a></li>
<li>Certificate of Distinction in the Algorithms &amp; Theory Focus Area of the Bachelor of Computing in Computer Science | <a href="https://credentials.nus.edu.sg/0e7feda8-b6c6-4b7b-ba15-24941d25d74d">Digital certificate</a></li>
<li>AY 19/20 Sem 1 Dean's List for NUS School of Computing</li>
<li>AY 19/20 Sem 1 Dean's List for NUS Faculty of Science</li>
<li>Recommendation Letter for CS4261</li>
<li>AY 18/19 Sem 2 Dean's List for NUS School of Computing</li>
<li>AY 18/19 Sem 1 Dean's List for NUS School of Computing</li>
</ul>
</div>
<hr/>

<div>
<p><span class="keyname">NUS Modules Taken:</span></p>
<p>Here is an exhaustive list of modules that I have taken in NUS.  Where available, you may use my cheatsheets for your studies (but I cannot guarantee the correctness or completeness of any information on them).  If you want the LaTeX source, you have to ask for it.</p>

<p>I also maintain a page on general module planning advice <a href="advice">here</a>.</p>

<p class="modulegroup">AY 13/14 Sem 2 (A-levels H3 programme)</p>
<ul>
<li>MA1101R Linear Algebra I</li>
</ul>

<p class="modulegroup">AY 17/18 Sem 1</p>
<ul>
<li>CFG1010 Roots and Wings - Personal and Interpersonal Effectiveness 1.0</li>
<li>CS1231 Discrete Structures | <a href="nus/CS1231.html">Review</a> | <a href="nus/CS1231 Reference.pdf">Cheatsheet</a></li>
<li>CS2030 Programming Methodology II | <a href="nus/CS2030.html">Review</a> | <a href="nus/CS2030 Reference.docx">Cheatsheet</a></li>
<li>GES1019 Managing Singapore's Built Environment | <a href="nus/GES1019.html">Review</a></li>
<li>MA1521 Calculus for Computing | <a href="nus/MA1521.html">Review</a> | <a href="nus/MA1521 Reference.pdf">Cheatsheet</a></li>
<li>MA2101 Linear Algebra II | <a href="nus/MA2101.html">Review</a> | <a href="nus/MA2101 Reference.pdf">Cheatsheet</a></li>
</ul>

<p class="modulegroup">AY 17/18 Sem 2</p>
<ul>
<li>CS2100 Computer Organisation | <a href="nus/CS2100.html">Review</a> | <a href="nus/CS2100 Reference.pdf">Cheatsheet</a></li>
<li>CS2105 Introduction to Computer Networks | <a href="nus/CS2105.html">Review</a> | <a href="nus/CS2105 Reference.pdf">Cheatsheet</a></li>
<li>CS3233 Competitive Programming</li>
<li>CS3233R Competitive Programming (R)</li>
<li>ES2660 Communicating in the Information Age | <a href="nus/ES2660.html">Review</a></li>
<li>GER1000 Quantitative Reasoning | <a href="nus/GER1000.html">Review</a></li>
<li>IS1103 IS Innovations in Organisations and Society | <a href="nus/IS1103.html">Review</a></li>
<li>MA2104 Multivariable Calculus | <a href="nus/MA2104.html">Review</a> | <a href="nus/MA2104 Reference.pdf">Cheatsheet</a></li>
</ul>

<p class="modulegroup">AY 17/18 Summer Break</p>
<ul>
<li>CP2106 Independent Software Development Project (Orbital) | <a href="nus/CP2106.html">Review</a> | <a href="https://github.com/btzy/circuit-sandbox">GitHub repository</a> | <a href="https://btzy.github.io/circuit-sandbox-poster.pdf">Poster</a> | <a href="https://www.youtube.com/watch?v=0RVUXjSf994">Video 1</a> | <a href="https://www.youtube.com/watch?v=lkfBC4iivmc">Video 2</a> | <a href="https://www.youtube.com/watch?v=DmSCg-yd0Uo">Video 3</a></li>
</ul>

<p class="modulegroup">AY 18/19 Sem 1</p>
<ul>
<li>CS2101 Effective Communication for Computing Professionals | <a href="nus/CS2101.html">Review</a></li>
<li>CS2103T Software Engineering | <a href="nus/CS2103T.html">Review</a> | <a href="https://github.com/CS2103-AY1819S1-W17-4/main">GitHub repository</a></li>
<li>CS2106 Introduction to Operating Systems | <a href="nus/CS2106.html">Review</a> | <a href="nus/CS2106 Reference.pdf">Cheatsheet</a></li>
<li>CS3210 Parallel Computing | <a href="nus/CS3210.html">Review</a> | <a href="nus/CS3210 Reference.pdf">Cheatsheet</a></li>
<li>CS3230 Design and Analysis of Algorithms | <a href="nus/CS3230.html">Review</a></li>
<li>GEQ1000 Asking Questions | <a href="nus/GEQ1000.html">Review</a></li>
<li>MA3218 Applied Algebra | <a href="nus/MA3218.html">Review</a> | <a href="nus/MA3218 Reference.pdf">Cheatsheet</a></li>
</ul>

<p class="modulegroup">AY 18/19 Sem 2</p>
<ul>
<li>CP3108B Independent Work (self-directed training for ICPC World Finals)</li>
<li>CS3203 Software Engineering Project | <a href="nus/CS3203.html">Review</a></li>
<li>CS4231 Parallel and Distributed Algorithms | <a href="nus/CS4231.html">Review</a> | <a href="nus/CS4231 Reference.pdf">Cheatsheet</a></li>
<li>MA2108S Mathematical Analysis I (S) | <a href="nus/MA2108S.html">Review</a></li>
</ul>

<p class="modulegroup">AY 18/19 Summer Break</p>
<ul>
<li>CP3200 Internship (summer internship at Jump Trading)</li>
</ul>

<p class="modulegroup">AY 19/20 Sem 1</p>
<ul>
<li>CS2104 Programming Language Concepts | <a href="nus/CS2104.html">Review</a></li>
<li>CS4234 Optimisation Algorithms | <a href="nus/CS4234.html">Review</a> | <a href="nus/CS4234 Reference.pdf">Cheatsheet</a></li>
<li>CS4261 Algorithmic Mechanism Design | <a href="nus/CS4261.html">Review</a> | <a href="nus/CS4261 Reference.pdf">Cheatsheet</a></li>
<li>MA2213 Numerical Analysis I | <a href="nus/MA2213.html">Review</a> | <a href="nus/MA2213 Reference.pdf">Cheatsheet</a></li>
<li>MA2214 Combinatorics and Graphs I | <a href="nus/MA2214.html">Review</a></li>
<li>MA3110S Mathematical Analysis II (S) | <a href="nus/MA3110S Reference.pdf">Cheatsheet</a></li>
<li>ST2131 Probability | <a href="nus/ST2131.html">Review</a></li>
</ul>

<p class="modulegroup">AY 19/20 Sem 2</p>
<ul>
<li>CS4215 Programming Language Implementation | <a href="nus/CS4215.html">Review</a> | <a href="https://github.com/source-academy/sourceror">GitHub repository</a></li>
<li>MA3111 Complex Analysis I | <a href="nus/MA3111 Reference.pdf">Cheatsheet</a></li>
<li>MA3233 Combinatorics and Graphs II | <a href="nus/MA3233.html">Review</a> | <a href="nus/MA3233 Reference.pdf">Cheatsheet</a></li>
<li>MA4211 Functional Analysis | <a href="nus/MA4211 Reference.pdf">Cheatsheet</a></li>
<li>GET1001 Seeing the World Through Maps</li>
</ul>

<p class="modulegroup">AY 20/21 Sem 1</p>
<ul>
<li>CM1131 Physical Chemistry 1</li>
<li>CS4212 Compiler Design | <a href="nus/CS4212.html">Review</a> | <a href="https://github.com/btzy/CS4212-compiler">Github repository</a></li>
<li>CS4232 Theory of Computation | <a href="nus/CS4232.html">Review</a> | <a href="nus/CS4232 Reference.pdf">Cheatsheet</a></li>
<li>MA4270 Data Modelling and Computation | <a href="nus/MA4270.html">Review</a> | <a href="nus/MA4270 Reference.pdf">Cheatsheet</a></li>
<li>XFC4101 Integrated Honours Thesis (year-long module) | <a href="nus/XFC4101.html">Review</a> | <a href="https://arxiv.org/abs/2106.12193">arXiv</a></li>
</ul>

<p class="modulegroup">AY 20/21 Sem 2</p>
<ul>
<li>CS5330 Randomized Algorithms | <a href="nus/CS5330.html">Review</a> | <a href="nus/CS5330 Reference.pdf">Cheatsheet</a></li>
<li>DMC1401CS Design Your Own Module (following <a href="https://pdos.csail.mit.edu/6.824/index.html">MIT 6.824 Distributed Systems</a>)</li>
<li>MA4207 Mathematical Logic | <a href="nus/MA4207.html">Review</a></li>
<li>MA4261 Coding and Cryptography | <a href="nus/MA4261.html">Review</a> | <a href="nus/MA4261 Reference.pdf">Cheatsheet</a></li>
<li>PC1144 Introduction to Modern Physics</li>
<li>ST2132 Mathematical Statistics | <a href="nus/ST2132.html">Review</a> | <a href="nus/ST2132 Reference.pdf">Cheatsheet</a></li>
<li>XFC4101 Integrated Honours Thesis (year-long module) | <a href="nus/XFC4101.html">Review</a> | <a href="https://arxiv.org/abs/2106.12193">arXiv</a></li>
</ul>

<p class="modulegroup">AY 21/22 Sem 1</p>
<ul>
<li>CS5234 Algorithms at Scale</li>
<li>GEH1030 Science of Music</li>
<li>MA3205 Set Theory</li>
<li>MA3238 Stochastic Processes I</li>
<li>MA4235 Topics in Graph Theory</li>
</ul>

<p><span class="keyname">About DMC1401CS Design Your Own Module (DYOM):</span>  Students may propose their own module (called a DYOM), which counts as a 4MC CS/CU unrestricted elective.  There is generally no restriction on the kind of topic allowed, as long as they can find a supervisor (an NUS professor) and a sufficient number of interested students.  At the point of writing, a minimum of ten students is required (though this may be negotiable), and each student may take up to two DYOMs in total.  For information about starting and running a DYOM in general, see <a href="https://www.nus.edu.sg/registrar/academic-information-policies/undergraduate-students/design-your-own-module">this page</a>.  For SoC-specific guidance, see <a href="https://github.com/nusdistsys/NUS_DYOM">this page</a> (maintained by students).  Some people in <a href="https://www.nushackers.org/">NUS Hackers</a> might also be able to provide guidance.</p>

</div>
<hr/>

<div>
<p><span class="keyname">Personal Non-Software Projects:</span></p>
<p>(coming soon...)</p>
</div>
<hr/>
