@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-Regular.otf);
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-It.otf);
  font-style: italic;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-Semibold.otf);
  font-weight: 600;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-SemiboldIt.otf);
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-BoldIt.otf);
  font-style: italic;
  font-weight: bold;
}

/* Globals */
body {
    font-family: "Source Sans Pro";
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #DDD;
    }
}
a {
    background-color: #FFB;
}
a:hover {
    background-color: #FF0;
}
@media (prefers-color-scheme: dark) {
    a {
        color: #DD2;
        background-color: #226;
    }
    a:visited {
        color: #D82;
    }
    a:hover {
        background-color: #22D;
    }
}
a.nolinkformat {
    background-color: inherit;
    color: inherit;
    text-decoration: inherit;
}
hr {
    border: none;
    height: 1px;
    background-color: #999;
}
@media (prefers-color-scheme: dark) {
    hr {
        background-color: #777;
    }
}
.keyname {
    font-weight: bold;
}
.more {
    font-style: italic;
    color: #666;
}
@media (prefers-color-scheme: dark) {
    .more {
        color: #999;
    }
}
.italicname {
    font-style: italic;
}
.typeicon {
    width: 1em;
    vertical-align: middle;
    position: relative;
    top: -0.1em;
}
@media (prefers-color-scheme: dark) {
    .typeicon {
        filter: invert(0.867);
    }
}
.smalltypeicon {
    width: 0.6em;
    vertical-align: middle;
    position: relative;
    top: -0.1em;
}
@media (prefers-color-scheme: dark) {
    .smalltypeicon {
        filter: invert(0.867);
    }
}
.semibold {
    font-weight: 600;
}
.underline {
    text-decoration: underline;
}

/* Title */
#title .profileimage {
    width: 10em;
    max-width: 100%;
}
#title .name {
    font-size: 2em;
    font-weight: bold;
}

/* Blog list on main page */
.blog-pre {
    color: #888;
}
@media (prefers-color-scheme: dark) {
    .blog-pre {
        color: #777;
    }
}

/* Detailed List */
.detailedlist>li {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}
.detailedlist>li>.header {
    font-weight: bold;
}
.detailedlist>li>.date {
    color: #888;
}
@media (prefers-color-scheme: dark) {
    .detailedlist>li>.date {
        color: #777;
    }
}

/* Modules */
.modulegroup {
    font-weight: bold;
}

/* Blog pages */
.blog>.date {
    color: #888;
}
@media (prefers-color-scheme: dark) {
    .blog>.date {
        color: #777;
    }
}
.blog .imgbox {
    text-align: center;
}
.blog .imgbox>img {
    max-width: 100%;
}
@media (prefers-color-scheme: dark) {
    .blog .imgbox.white>img {
        filter: invert(0.867);
    }
}