@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-Regular.otf);
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-It.otf);
  font-style: italic;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-Semibold.otf);
  font-weight: 600;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-SemiboldIt.otf);
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-BoldIt.otf);
  font-style: italic;
  font-weight: bold;
}

/* Globals */
body {
    font-family: "Source Sans Pro";
}
a {
    background-color: #FFB;
}
a:hover {
    background-color: #FF0;
}
.keyname {
    font-weight: bold;
}
.more {
    font-style: italic;
    color: #666;
}
.italicname {
    font-style: italic;
}
.typeicon {
    width: 1em;
    vertical-align: middle;
    position: relative;
    top: -0.1em;
}
.semibold {
    font-weight: 600;
}

/* Title */
#title .profileimage {
    width: 10em;
    max-width: 100%;
}
#title .name {
    font-size: 2em;
    font-weight: bold;
}

/* Detailed List */
.detailedlist>li>.header {
    font-weight: bold;
}
.detailedlist>li>.date {
    color: #888;
}