<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140068142-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140068142-1');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
<div id="title">
<div class="name">Bernard <span class="underline">Teo</span> Zhi Yi</div>
<div><span class="keyname">Email: </span><a href="mailto:bernardteo@u.nus.edu">bernardteo@u.nus.edu</a> | <span class="keyname">GitHub: </span><a href="https://github.com/btzy">btzy</a> | <span class="keyname">LinkedIn: </span><a href="https://www.linkedin.com/in/bernard-teo/">bernard-teo</a></div>
</div>
<hr/>

{{ content }}

</body>

</html>
